@import '../general/fonts';
@import '~bulma/bulma';

.hero {
  margin-top: $navbar-height;
}

.box {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.74), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  &:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.37), 0 0 0 1px #206ce7;
  }
}