extends layout

block content
  section.hero.is-info.is-fullheight-with-navbar
    .hero-body
      .container
        .columns
          .column
            a.box(href='#')
              p Nhập dữ liệu giảng viên
          .column
            a.box(href='#')
              p Nhập dữ liệu sinh viên
          .column
            a.box(href='/admin/models')
              p Nhập ảnh mẫu