extends layout

block content
  if data.length > 0
    section.hero.is-info
      .hero-body
        .container
          h2.title= data[0]._class.subject.name
          h3.subtitle Mã lớp: #{data[0]._class.name}

    .container.is-fluid
      .columns.is-centered
        .column.is-half