extends layout.pug

block js
  script(async src='/lib/face-api.js/dist/face-api.min.js')

block content
  section.section
    .columns
      .column
        figure.image
          img#inputImg1(src='/assets/images/benedict_cumberbatch/55782ce.png' alt='image' style='max-height: 400px; width: auto')
          canvas#overlay1
      .column
        figure.image
          img#inputImg2(src='/assets/images/images/bbt1.jpg' alt='image')
          canvas#overlay2