extends layout

block content
  section.hero.is-info
    .hero-body
      .container
        h2.title Danh sách lớp
  .container.is-fluid
    .columns.is-multiline
      each _class in classes
        .column.is-4
          .card
            .card-content
              .content
                p.title= _class.subject.name
                p.subtitle.is-6 Mã học phần: #{_class.subject.id}
                p.subtitle.is-6 Mã lớp: #{_class.name}
            .card-footer
              a.card-footer-item(href='/attendance/' + _class._id) Chi tiết
              a.card-footer-item(href='/attendance/' + _class._id + '/today') Điểm danh
  button#addClass.button.is-rounded.is-info(title='Thêm lớp')
    span.icon
      i.icon-not-ok
  .modal
    .modal-background
    .modal-content
      form.box.is-clearfix(method='post' action='/class')
        .field
          label.label Nhập danh sách lớp từ Excel
          .control
            .file.has-name
              label.file-label(for='file')
                input#file.file-input(type='file' name='class')
                span.file-cta
                  span.file-label Chọn tập tin
                span.file-name
          p.help.is-hidden
        .field.is-grouped.is-pulled-right
          .control
            button.button.is-info(type='submit') Nhập
          .control
            button#btnCancel.button(type='button') Hủy