<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Webpack - Express
    link(rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico')
    //- for chromium api
    //- each path in fonts
    //-   link(rel='preload' href=path as='font' type=`font/${path.split('.').pop()}` crossorigin)
    each path in css
      link(rel="stylesheet" href=path)
  body
    block content
    block js
    each path in js
      script(async src=path)