nav.navbar.is-fixed-top.is-light(role='navigation' aria-label='main navigation')
  .navbar-brand
    h1.is-uppercase.has-text-weight-bold.navbar-item face recognition attendance
  .navbar-menu
    .navbar-end
      a.navbar-item.has-text-link(href='/') Trang chủ
      a.navbar-item.has-text-link#logout(href='#') Đăng xuất