nav.navbar.is-fixed-top.is-light(role='navigation' aria-label='main navigation')
  .navbar-menu
    .navbar-end
      a.navbar-item.has-text-link(href='/') Home
      a.navbar-item.has-text-link(href='/models') Training Models